certifi==2024.8.30
charset-normalizer==3.4.0
clang==17.0.6
clang-format==19.1.2
clang-tidy==19.1.0
cmake==3.30.4
colorama==0.4.6
conan==2.8.1
distro==1.8.0
fasteners==0.19
idna==3.10
Jinja2==3.1.4
MarkupSafe==3.0.1
patch-ng==1.18.0
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.32.3
six==1.16.0
urllib3==1.26.20
